.team-logo {
    height: 85px;
    width: center;
    margin: 8px;
    object-fit: contain;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  #teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px;
    gap: 6px;
    padding-bottom: 50px;
  }
  
  #games-container {
    padding-bottom: 50px;
  }
  
  